*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
}

ul{
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

#page-logo a{
    padding: 10px;
    font-family: 'Oleo Script', sans-serif;
    color: rgb(245, 243, 160);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}


header ul {
    list-style: none;
    display: flex;
}

header ul a {
   text-decoration: none;
}

header ul li {
    margin-left: 20px;
}